{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class='main-container'>
    <div>
    
        {{ the_div.plot | safe}}  
        
       <!-- {{ the_div.table | safe}}  -->
        
        {{ the_script| safe}} 
        
    </div>
    
    <div> 
    <h5> {{ user.username }}, enter your Data here: </h5>  
    <table>
      <tr>
        <th>Filename for your Project</th>
        <td>    <form method="post">
                {% csrf_token %}
                {{ form.graph_filename }}
        </td>
      </tr>
    
    
      <tr>
        <th>Graph Title</th>
        <td>    <form method="post">
                {% csrf_token %}
                {{ form.graph_title }}
        </td>
      </tr>
      
      <tr>
        <th>X-axis label</th>
        <td>    <form method="post">
                {% csrf_token %}
                {{ form.graph_xlabel }}
        </td>
      </tr>
      
     <tr>
        <th>Y-axis label</th>
        <td>    <form method="post">
                {% csrf_token %}
                {{ form.graph_ylabel }}
        </td>
      </tr>
      
      <tr>
        <th>x-Values</th>
        <td>    <form method="post">
                {% csrf_token %}
                {{ form.myX }}
        </td>
      </tr>
      
      <tr>
        <th>y-Values</th>
        <td><form method="post">
                {% csrf_token %}
                {{ form.myY }}
        </td>
      </tr>
  
      <tr>
        <th>Bubble size</th>
        <td>    <form method="post">
                {% csrf_token %}
                {{ form.myRadius }}
        </td>
      </tr>
    </table>

    <button type="submit">Submit</button>
    

    </div>
    

</div>

{% endblock %}

<!-- 
    <div class="col-md-8">
        <h2>Title</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.graph_title }}
            <br>
        <form method="post">
            {% csrf_token %}
            {{ form.myX }}
            <br>
        <form method="post">
            {% csrf_token %}
            {{ form.myY }}
            <br>  
        <form method="post">
            {% csrf_token %}
            {{ form.myRadius }}
            <br>   
            <button type="submit">Submit</button>
        </form>
    </div>
 -->    
    


<!-- 
 <div class="container">
    <div class="col-md-8">
        <h2>Data</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.myX }}
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
 </div>
 -->
 
 
<!-- 
 <div class="container">
    <div class="col-md-8">
        <h2>Data</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.myX }}
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
 </div>

-->

<!--
    
<form method="post" action="">{% csrf_token %}
    Hello, World! Enter and ArrayField here {{ form }}
    <input type="submit" value="equals" />
</form>  
 --> 
 
