{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid">
    <div class="row">
    
        <div class="col-sm-6 col-12 py-2 d-flex align-items-center justify-content-center" id="left">
 
            <div style="width:92%; margin-top: 60px;">

                {{ the_div.plot | safe}}
        
                {{ the_script| safe}}
                <br>
                <form method="post">
                    {% csrf_token %}
                    {{ formplot.plotname }}
                <button type="submit" name="make_png">Save plot to gallery</button> 
            </div>    
        
        </div>



    <div class="col-sm-6 col-12 offset-0 offset-sm-6 py-2">
        <center><H4>Your Tracking Data</H4></center>
        
        <form method="post" id="form1">
        <table align="center">
          <tr>
            <th>Filename for your Project</th>
            <td>    
                    {% csrf_token %}
                    {{ form.graph_filename }}
            </td>
          </tr>
        
        
          <tr>
            <th>Graph Title</th>
            <td>    
                    {% csrf_token %}
                    {{ form.graph_title }}
            </td>
          </tr>
      
          <tr>
            <th>X-axis label</th>
            <td>    
                    {% csrf_token %}
                    {{ form.graph_xlabel }}
            </td>
          </tr>
          
         <tr>
                <th>Y-axis label</th>
        <td>    
                        {% csrf_token %}
                    {{ form.graph_ylabel }}
        </td>
          </tr>
           
              
          <tr style="display:none;">
            <th>x-Values</th>
            <td>    
            
           
                    {% csrf_token %}
                    {{ form.myX }}
            </td>
          </tr>
          
          <tr style="display:none;"> 
            <th>y-Values</th>
            <td>
                    {% csrf_token %}
                    {{ form.myY }}
            </td>
          </tr>
      
          <tr style="display:none;">
            <th>Error bar</th>
            <td>   
                    {% csrf_token %}
                    {{ form.myError }}
            </td>
          </tr>
          
          
        <tr>
            <th>Plot marker</th>
            <td>   
                    {% csrf_token %}
                    {{ form.mySymbol }}
            </td>
          </tr>
          
          
        <tr>
                <th>Description</th>
        <td>    
                        {% csrf_token %}
                    {{ form.graph_description }}
        </td>
          </tr>  

          
        </table>    

        <br>
  
   <button style="display:none;" type="submit" id="trackme">Plot</button>
  
  
  <!--<p>Hello: X= {{ mypkX }} </p>-->
  
  <!--<table id="ReloadTable"></table>-->
        

  <table id="empTable" class="table editabletable" align="center">
    <tr style="border: none !important;">
        <th>x-Values</th>
        <th>y-Values</th>
        <th>Error bar</th>
        <th></th>
    </tr>
    <tr>
        <td><div contenteditable id="myeditablediv"></div></td>
        <td><div contenteditable></div></td>
        <td><div contenteditable></div></td>
        <td><button type="button" class="ibtnDel btn btn-md btn-danger" onclick="myDeleteFunction()">Delete</button></td>
    </tr> 
        <tr>
        <td><div contenteditable></div></td>
        <td><div contenteditable></div></td>
        <td><div contenteditable></div></td>
        <td><button type="button" class="ibtnDel btn btn-md btn-danger" onclick="myDeleteFunction()">Delete</button></td>
    </tr>
        <tr>
        <td><div contenteditable></div></td>
        <td><div contenteditable></div></td>
        <td><div contenteditable></div></td>
        <td><button type="button" class="ibtnDel btn btn-md btn-danger" onclick="myDeleteFunction()">Delete</button></td>
    </tr>

  </table>
  <p id="info"></p>
  <br>
  <center><button type="button" onclick="AddRowFunction()"><i class="fa fa-plus-circle" aria-hidden="true"></i></button></center>
  <br>
  <!--<center><button type="submit" name="plot_data" onclick="showTableData();">Submit/Update</button></center>-->
  <center><button id="greatSubmit" type="button" onclick="SubmitAll();">Submit/Update</button></center>
  <br>
  <center><button type="button" onclick="fillmyTable()">Reload Data</button></center>
  <!--<center><button type="button" onclick="fillmyTable()">Load Data</button></center>-->

          
    
        </div>

    </div>


</div>

<script type="text/javascript" src="{% static 'table_track.js' %}"></script>


{% endblock %}
 
