.w3-theme-l5 {color:#000 !important; background-color:#f5f7f8 !important}
.w3-theme-l4 {color:#000 !important; background-color:#F8E9F3 !important}
.w3-theme-l3 {color:#000 !important; background-color:#becbd2 !important}
.w3-theme-l2 {color:#000 !important; background-color:#9eb1bb !important}
.w3-theme-l1 {color:#fff !important; background-color:#aaaaaa !important}
.w3-theme-d1 {color:#fff !important; background-color:#57707d !important}
.w3-theme-d2 {color:#fff !important; background-color:#4d636f !important}
.w3-theme-d3 {color:#fff !important; background-color:#dfe0e2 !important}
.w3-theme-d4 {color:#fff !important; background-color:#3a4b53 !important}
.w3-theme-d5 {color:#fff !important; background-color:#dfe0e2 !important}

.w3-theme-light {color:#000 !important; background-color:#f5f7f8 !important}
.w3-theme-dark {color:#fff !important; background-color:#303e45 !important}
.w3-theme-action {color:#fff !important; background-color:#303e45 !important}

.w3-theme {color:#fff !important; background-color:#607d8b !important}
.w3-text-theme {color:#5D1248 !important}
.w3-border-theme {border-color:#607d8b !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#607d8b !important}
.w3-hover-text-theme:hover {color:#607d8b !important}
.w3-hover-border-theme:hover {border-color:#607d8b !important}


    .jumbotron {
        <!--background: #532f8c;-->
        background: white;<!--labpeers rose-->
        color: white;
        padding-bottom: 80px
    }
    .jumbotron .btn-primary {
        background: #845ac7;
        border-color: #845ac7
    }
    .jumbotron .btn-primary:hover {
        background: #7646c1
    }
    .jumbotron p {
        color: #d9ccee;
        max-width: 75%;
        margin: 1em auto 2em
    }
    .navbar+.jumbotron {
        margin-top: -20px
    }
    .jumbotron .lang-logo {
        display: block;
        background: #b01302;
        border-radius: 50%;
        overflow: hidden;
        width: 100px;
        height: 100px;
        margin: auto;
        border: 2px solid white
    }
    .jumbotron .lang-logo img {
        max-width: 100%
    }
 
 
/*So that navbar doesn't cut off content*/
    
body {
padding-bottom: 20px;
padding-top: 105px;   
}





    .firstDiv {
        display: inline-block;
    }
    
    .secondDiv {
        display: inline-block;
    }
    
    table {
        border-collapse: collapse;
    }

    td, th {
        border-bottom: 1px solid #ddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #ffffff;
    }
    
    
    .main-container {
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
    }
 
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/*Home and Bubblechart page*/
@media (min-width: 576px){
    #left {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}



 
    
.flex-container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  /*align-items:center;*/
    }

.leftside, .rightside {
height:50vh;
width:90%;
}

@media screen and (min-width:768px)
{
    .leftside, .rightside{
        height:100vh;
    }
}

/* Create two equal columns that sits next to each other */
.leftside {
  /*height: 100vh; Should be removed. Only for demonstration */
  /*position: fixed;*/

}

.rightside {
  /*border-left: 1px solid #dfe0e2;*/
  /* Should be removed. Only for demonstration */
  /*overflow: scroll;
  align-items:center;*/

}




     @media screen (min-width: 520px) and (max-width:699px) {
     .flex-container{
      flex-direction:column;
    }
  
    .flex-container > homecolumn1{
      width:300px;
      }
      
      
    .flex-container > homecolumn2{
      width:300px;
      }      

    }



    .flex-container > div{
    width: 550px
    }
    
     @media screen (min-width: 520px) and (max-width:699px) {
     .flex-container{
      flex-direction:column;
    }
  
    .flex-container > div{
      width:300px;
      font-size:36px;
      }

    }


    
    
    caption { 
    display: table-caption;
    text-align: center;
    font-size: 2vw !important;
    color: black;
    }
    
    
 @media screen (min-width: 520px) and (max-width:699px) {
    caption { 
    display: table-caption;
    text-align: center;
    font-size: 5vw !important;
    color: black;
    }    
}
    
    
.btn-primary {
background:#701556;
}
  
  
/*NAVBAR DEFINITION!!!*/
  
.navbar {
border-color: #dfe0e2;
background: !white;
box-shadow: 0px 5px 4px #dfe0e2;
}

.navbar a:hover {
color: #bb2490; 
}


.nav a {
color: black; !important
}

.navbar-nav > li{
  padding-left:5px;
  padding-right:5px;
}

.sb-button1 {
    display: inline-block;
    background: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    #font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
}


.sb-button2 {
    display: inline-block;
    background: black;
    color:white !important;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    #font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
}


/*End of NAVBAR DEFINITION!!!*/

    
.blue-square-container {
text-align: center;
}



.icon-bar
{
  color:black !important; /*Whatever colour you want for icon lines*/
  background:black !important;
}



#purplebutton:hover{
background:#5D1248 !important;
}


#mygreybutton:hover{
background:#aaaaaa !important;
color:white !important;
}


.nav-border {
border-radius: 30px;    
}

#rounded1{
border-radius: 30px;
}

