{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid">
    <div class="row">
    
        <div class="col-sm-6 col-12 py-2 d-flex align-items-center justify-content-center" id="left">

            <div style="width=97%;">
                {{ the_div.plot | safe}}
        
                {{ the_div.table | safe}}
        
                {{ the_script| safe}}
        
                <br>
                <form method="post">
                    {% csrf_token %}
                    {{ formplot.plotname }}
                <button type="submit" name="make_png">Save plot to gallery</button>
                
             </div>   
        
        </div>



    <div class="col-sm-6 col-12 offset-0 offset-sm-6 py-2">
        <H3>Your Bubblechart Data</H4>
        <table>
          <tr>
            <th>Filename for your Project</th>
            <td>    <form method="post">
                    {% csrf_token %}
                    {{ form.graph_filename }}
            </td>
          </tr>
        
        
          <tr>
            <th>Graph Title</th>
            <td>    <form method="post">
                    {% csrf_token %}
                    {{ form.graph_title }}
            </td>
          </tr>
      
          <tr>
            <th>X-axis label</th>
            <td>    <form method="post">
                    {% csrf_token %}
                    {{ form.graph_xlabel }}
            </td>
          </tr>
          
         <tr>
                <th>Y-axis label</th>
        <td>    <form method="post">
                        {% csrf_token %}
                    {{ form.graph_ylabel }}
        </td>
          </tr>
              
          <tr>
            <th>x-Values</th>
            <td>    <form method="post">
                    {% csrf_token %}
                    {{ form.myX }}
            </td>
          </tr>
          
          <tr>
            <th>y-Values</th>
            <td><form method="post">
                    {% csrf_token %}
                    {{ form.myY }}
            </td>
          </tr>
      
          <tr>
            <th>Bubble size</th>
            <td>    <form method="post">
                    {% csrf_token %}
                    {{ form.myRadius }}
            </td>
          </tr>
          
          <tr>
            <th>Scaling Factor</th>
            <td>    <form method="post">
                    {% csrf_token %}
                    {{ form.myScale }}
            </td>
          </tr>
          </table>
          
            {{ the_div_t.data_table | safe}} 
            
            {{ the_script_t| safe}} 
          
          
            <table>
          <tr>
            <th>Description</th>
            <td>    <form method="post">
                    {% csrf_token %}
                    {{ form.graph_description }}
            </td>
          </tr>
        </table>
        <br>
        <button type="submit" name="plot_data">Submit/Update</button>
        
    
        </div>

    </div>


</div>

{% endblock %}

<!-- 
    <div class="col-md-8">
        <h2>Title</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.graph_title }}
            <br>
        <form method="post">
            {% csrf_token %}
            {{ form.myX }}
            <br>
        <form method="post">
            {% csrf_token %}
            {{ form.myY }}
            <br>  
        <form method="post">
            {% csrf_token %}
            {{ form.myRadius }}
            <br>   
            <button type="submit">Submit</button>
        </form>
    </div>
 -->    
    


<!-- 
 <div class="container">
    <div class="col-md-8">
        <h2>Data</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.myX }}
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
 </div>
 -->
 
 
<!-- 
 <div class="container">
    <div class="col-md-8">
        <h2>Data</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.myX }}
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
 </div>

-->

<!--
    
<form method="post" action="">{% csrf_token %}
    Hello, World! Enter and ArrayField here {{ form }}
    <input type="submit" value="equals" />
</form>  
 --> 
 
