{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid">
    <div class="row">
    
        <div class="col-sm-6 col-12 py-2 d-flex align-items-center justify-content-center" id="left">

            <div style="width=97.5%;">
                <br>
                {{ the_div.plot | safe}}
        
                {{ the_div.table | safe}}
        
                {{ the_script| safe}}
        
                <br>
                <form method="post">
                    {% csrf_token %}
                    {{ formplot.plotname }}
                
                <button type="submit" name="make_png">Save plot to gallery</button>
                
                <table align="center">
                    <tr>
                        <td style="border: none !important;">Description</td>
                        <td style="border: none !important;">    <form method="post">
                            {% csrf_token %}
                            {{ form.graph_description }}
                        </td>
                    </tr>
                </table>
                
             </div>   
        
        </div>



    <div class="col-sm-6 col-12 offset-0 offset-sm-6 py-2">
        <center><H4>Your Bubblechart Data</H4></center>
        <table align="center">
          <tr>
            <th>Filename for your Project</th>
            <td>    <form method="post">
                    {% csrf_token %}
                    {{ form.graph_filename }}
            </td>
          </tr>
        
        
          <tr>
            <th>Graph Title</th>
            <td>    <form method="post">
                    {% csrf_token %}
                    {{ form.graph_title }}
            </td>
          </tr>
      
          <tr>
            <th>X-axis label</th>
            <td>    <form method="post">
                    {% csrf_token %}
                    {{ form.graph_xlabel }}
            </td>
          </tr>
          
         <tr>
                <th>Y-axis label</th>
        <td>    <form method="post">
                        {% csrf_token %}
                    {{ form.graph_ylabel }}
        </td>
          </tr>
              
          <tr style="display:none;">
            <th>x-Values</th>
            <td>    
            
            <form method="post">
                    {% csrf_token %}
                    {{ form.myX }}
            </td>
          </tr>
          
          <tr style="display:none;">
            <th>y-Values</th>
            <td><form method="post">
                    {% csrf_token %}
                    {{ form.myY }}
            </td>
          </tr>
      
          <tr style="display:none;">
            <th>Bubble size</th>
            <td>    <form method="post">
                    {% csrf_token %}
                    {{ form.myRadius }}
            </td>
          </tr>
          
          <tr>
            <th>Scaling Factor</th>
            <td>    <form method="post">
                    {% csrf_token %}
                    {{ form.myScale }}
            </td>
          </tr>

          
        </table>
        <br>
       <!-- <button type="submit" name="plot_data" onclick="showTableData()">Submit/Update</button>-->
        
        

  <table id="empTable" class="table editabletable" align="center">
    <thead>
    <tr>
        <th>x-Values</th>
        <th>y-Values</th>
        <th>Bubble size</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="col-sm-4"><input type="text" name="x-values" class="form-control" /><div contenteditable></div></td>
        <td class="col-sm-4"><input type="text" name="y-values"  class="form-control"/><div contenteditable></div></td>
        <td class="col-sm-3"><input type="text" name="bubble-size"  class="form-control"/><div contenteditable></div></td>
        <td class="col-sm-2"><a class="deleteRow"></a></td>
    </tbody>
        <tfoot>
        <tr>
            <td colspan="5" style="text-align: left;">
                <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row" />
            </td>
        </tr>
        <tr>
        </tr>
    </tfoot>
  </table>
  <p id="info"></p> 
  <br>
  <center><button type="submit" name="plot_data" onclick="showTableData()">Submit/Update</button></center>

  <!--<p><input type="button" id="bt" value="Show Table Data" onclick="showTableData()" /></p>-->
          
    
        </div>

    </div>


</div>

<script>
function init()
{
	var tables = document.getElementsByClassName("editabletable");
	var i;
	for (i = 0; i < tables.length; i++)
	{
		makeTableEditable(tables[i]);
	}
}

function makeTableEditable(table)
{
	var rows = table.rows;
	var r;
	for (r = 0; r < rows.length; r++)
	{
		var cols = rows[r].cells;
		var c;
		for (c = 0; c < cols.length; c++)
		{
			var cell = cols[c];
			var listener = makeEditListener(table, r, c);
			cell.addEventListener("input", listener, false);
		}
	}
}

function makeEditListener(table, row, col)
{
	return function(event)
	{
		var cell = getCellElement(table, row, col);
		var text = cell.innerHTML.replace(/<br>$/, '');
		var items = split(text);

		if (items.length === 1)
		{
			// Text is a single element, so do nothing.
			// Without this each keypress resets the focus.
			return;
		}

		var i;
		var r = row;
		var c = col;
		for (i = 0; i < items.length && r < table.rows.length; i++)
		{
			cell = getCellElement(table, r, c);
			cell.innerHTML = items[i]; // doesn't escape HTML

			c++;
			if (c === table.rows[r].cells.length)
			{
				r++;
				c = 0;
			}
		}
		cell.focus();
	};
}

function getCellElement(table, row, col)
{
	// assume each cell contains a div with the text
	return table.rows[row].cells[col].firstChild;
}

function split(str)
{
	// use comma and whitespace as delimiters
	return str.split(/,|\s|<br>/);
}

init();




    function showTableData() {
       
       
       //x-value
       
        document.getElementById('info').innerText = "";
        var myTab = document.getElementById('empTable');

        // LOOP THROUGH EACH ROW OF THE TABLE AFTER HEADER.
        for (i = 1; i < myTab.rows.length; i++) {

            // GET THE CELLS COLLECTION OF THE CURRENT ROW.
            var objCells = myTab.rows.item(i).cells.item(0);
                info.innerText = info.innerText + objCells.innerText;
                

            // READ CELL VALUE OF THE CURENT ROW.
            if (i < myTab.rows.length -1){
            info.innerText = info.innerText + ',';     // ADD A Comma
            } else{
            info.innerText = info.innerText;

            }
            info.innerText = info.innerText.split(" ").join(""); 
        }
        document.getElementById('x-values').value = info.innerText; //Write the column content into Data Table



        //y-value
        document.getElementById('info').innerText = "";
        var myTab = document.getElementById('empTable');

        // LOOP THROUGH EACH ROW OF THE TABLE AFTER HEADER.
        for (i = 1; i < myTab.rows.length; i++) {

            // GET THE CELLS COLLECTION OF THE CURRENT ROW.
            var objCells = myTab.rows.item(i).cells.item(1);
                info.innerText = info.innerText + objCells.innerText;
                

            // READ CELL VALUE OF THE CURENT ROW.
            if (i < myTab.rows.length -1){
            info.innerText = info.innerText + ',';     // ADD A Comma
            } else{
            info.innerText = info.innerText;

            }
            info.innerText = info.innerText.split(" ").join(""); 
        }
        document.getElementById('y-values').value = info.innerText; //Write the column content into Data Table
    
    
    
        //Bubblesize
        document.getElementById('info').innerText = "";
        var myTab = document.getElementById('empTable');

        // LOOP THROUGH EACH ROW OF THE TABLE AFTER HEADER.
        for (i = 1; i < myTab.rows.length; i++) {

            // GET THE CELLS COLLECTION OF THE CURRENT ROW.
            var objCells = myTab.rows.item(i).cells.item(2);
                info.innerText = info.innerText + objCells.innerText;
                

            // READ CELL VALUE OF THE CURENT ROW.
            if (i < myTab.rows.length -1){
            info.innerText = info.innerText + ',';     // ADD A Comma
            } else{
            info.innerText = info.innerText;

            }
            info.innerText = info.innerText.split(" ").join(""); 
        }
        document.getElementById('Bubble-size').value = info.innerText; //Write the column content into Data Table
    
    
    
    
    
    }    
    
    

//ADD AND DELETE ROWS!!

$(document).ready(function () {
    var counter = 0;

    $("#addrow").on("click", function () {
        var newRow = $("<tr>");
        var cols = "";

        cols += '<td><input type="text" class="form-control" name="x-values' + counter + '"/><div contenteditable></div></td>';
        cols += '<td><input type="text" class="form-control" name="y-values' + counter + '"/><div contenteditable></div></td>';
        cols += '<td><input type="text" class="form-control" name="bubble-size' + counter + '"/><div contenteditable></div></td>';

        cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
        newRow.append(cols);
        $("table.editabletable").append(newRow);
        counter++;
    });



    $("table.editabletable").on("click", ".ibtnDel", function (event) {
        $(this).closest("tr").remove();       
        counter -= 1
    });


});



function calculateRow(row) {
    var price = +row.find('input[name^="price"]').val();

}

function calculateGrandTotal() {
    var grandTotal = 0;
    $("table.editabletable").find('input[name^="price"]').each(function () {
        grandTotal += +$(this).val();
    });
    $("#grandtotal").text(grandTotal.toFixed(2));
}

    
    
    
    
    
</script>


{% endblock %}

<!-- 
    <div class="col-md-8">
        <h2>Title</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.graph_title }}
            <br>
        <form method="post">
            {% csrf_token %}
            {{ form.myX }}
            <br>
        <form method="post">
            {% csrf_token %}
            {{ form.myY }}
            <br>  
        <form method="post">
            {% csrf_token %}
            {{ form.myRadius }}
            <br>   
            <button type="submit">Submit</button>
        </form>
    </div>
 -->    
    


<!-- 
 <div class="container">
    <div class="col-md-8">
        <h2>Data</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.myX }}
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
 </div>
 -->
 
 
<!-- 
 <div class="container">
    <div class="col-md-8">
        <h2>Data</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.myX }}
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
 </div>

-->

<!--
    
<form method="post" action="">{% csrf_token %}
    Hello, World! Enter and ArrayField here {{ form }}
    <input type="submit" value="equals" />
</form>  
 --> 
 
