{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid">
    <div class="row">
    
        <div class="col-sm-6 col-12 py-2 d-flex align-items-center justify-content-center" id="left">
            <div style="width:95%;margin-top: 25px;">
                <br>
                {{ the_div.plot | safe}}
        
                {{ the_div.table | safe}}
        
                {{ the_script| safe}}
        
                <br>
                <form method="post" id="make_png">
                    {% csrf_token %}
                    {{ formplot.plotname }}
                    <!--<input type="submit" name="make_png" value="Save plot to gallery">-->
                </form>
                <!--<button type="submit" name="make_png">Save plot to gallery</button>-->
                <center><button action="make_png" id="make_png" type="submit" name="make_png">Save plot to gallery</button></center>
             </div>   
        
        </div>



    <div class="col-sm-6 col-12 offset-0 offset-sm-6 py-2">
        <center><H4>Your Bubblechart Data</H4></center>
        
        <form method="post" id="form1">
        <table align="center">
          <tr>
            <th>Filename for your Project</th>
            <td>    
                    {% csrf_token %}
                    {{ form.graph_filename }}
            </td>
          </tr>
        
        
          <tr>
            <th>Graph Title</th>
            <td>    
                    {% csrf_token %}
                    {{ form.graph_title }}
            </td>
          </tr>
      
          <tr>
            <th>X-axis label</th>
            <td>    
                    {% csrf_token %}
                    {{ form.graph_xlabel }}
            </td>
          </tr>
          
         <tr>
                <th>Y-axis label</th>
        <td>    
                        {% csrf_token %}
                    {{ form.graph_ylabel }}
        </td>
          </tr>
         
              
          <tr style="display:none;">
            <th>x-Values</th>
            <td>    
            
           
                    {% csrf_token %}
                    {{ form.myX }}
            </td>
          </tr>
          
          <tr style="display:none;">
            <th>y-Values</th>
            <td>
                    {% csrf_token %}
                    {{ form.myY }}
            </td>
          </tr>
      
          <tr style="display:none;">
            <th>Bubble size</th>
            <td>   
                    {% csrf_token %}
                    {{ form.myRadius }}
            </td>
          </tr>
          
          <tr>
            <th>Scaling Factor</th>
            <td>    
                    {% csrf_token %}
                    {{ form.myScale }}
            </td>
          </tr>
          
        <tr>
                <th>Description</th>
        <td>    
                        {% csrf_token %}
                    {{ form.graph_description }}
        </td>
          </tr> 
          
        </table>    
        </form>
        <br>
  
  
  
  
  <!--<p>Hello: X= {{ mypkX }} </p>-->
  
  <!--<table id="ReloadTable"></table>-->
        

  <table id="empTable" class="table editabletable" align="center">
    <tr style="border: none !important;">
        <th>x-Values</th>
        <th>y-Values</th>
        <th>Bubble size</th>
        <th>Action</th>
    </tr>
    <tr>
        <td><div contenteditable></div></td>
        <td><div contenteditable></div></td>
        <td><div contenteditable></div></td>
        <td><button type="button" class="ibtnDel btn btn-md btn-danger" onclick="myDeleteFunction()">Delete</button></td>
    </tr> 
        <tr>
        <td><div contenteditable></div></td>
        <td><div contenteditable></div></td>
        <td><div contenteditable></div></td>
        <td><button type="button" class="ibtnDel btn btn-md btn-danger" onclick="myDeleteFunction()">Delete</button></td>
    </tr>
        <tr>
        <td><div contenteditable></div></td>
        <td><div contenteditable></div></td>
        <td><div contenteditable></div></td>
        <td><button type="button" class="ibtnDel btn btn-md btn-danger" onclick="myDeleteFunction()">Delete</button></td>
    </tr>

  </table>
  <p id="info"></p> 
  <br>
  <center><button type="button" onclick="AddRowFunction()"><i class="fa fa-plus-circle" aria-hidden="true"></i></button></center>
  <br>
  <!--<center><button type="submit" name="plot_data" onclick="showTableData();">Submit/Update</button></center>-->
  <center><button id="greatSubmit" name="bubblechart" type="button" onclick="SubmitAll();">Submit/Update</button></center>
  <br>
  <center><button type="button" onclick="fillmyTable()">Reload Data</button></center>
  <!--<center><button type="button" onclick="fillmyTable()">Load Data</button></center>-->

          
    
        </div>

    </div>


</div>

<script>
function init()
{
	var tables = document.getElementsByClassName("editabletable");
	var i;
	for (i = 0; i < tables.length; i++)
	{
		makeTableEditable(tables[i]);
	}
}

function makeTableEditable(table)
{
	var rows = table.rows;
	var r;
	for (r = 0; r < rows.length; r++)
	{
		var cols = rows[r].cells;
		var c;
		for (c = 0; c < cols.length; c++)
		{
			var cell = cols[c];
			var listener = makeEditListener(table, r, c);
			cell.addEventListener("input", listener, false);
		}
	}
}

function makeEditListener(table, row, col)
{
	return function(event)
	{
		var cell = getCellElement(table, row, col);
		var text = cell.innerHTML.replace(/<br>$/, '');
		var items = split(text);

		if (items.length === 1)
		{
			// Text is a single element, so do nothing.
			// Without this each keypress resets the focus.
			return;
		}

		var i;
		var r = row;
		var c = col;
		for (i = 0; i < items.length && r < table.rows.length; i++)
		{
			cell = getCellElement(table, r, c);
			cell.innerHTML = items[i]; // doesn't escape HTML

			c++;
			if (c === table.rows[r].cells.length)
			{
				r++;
				c = 0;
			}
		}
		cell.focus();
	};
}

function getCellElement(table, row, col)
{
	// assume each cell contains a div with the text
	return table.rows[row].cells[col].firstChild;
}

function split(str)
{
	// use comma and whitespace as delimiters
	return str.split(/,|\s|<br>/);
}

init();



//show the data filled into the empTable in the upper original table:
    function showTableData() {
       
       
       //x-value
       
        document.getElementById('info').innerText = "";
        var myTab = document.getElementById('empTable');

        // LOOP THROUGH EACH ROW OF THE TABLE AFTER HEADER.
        for (i = 1; i < myTab.rows.length; i++) {

            // GET THE CELLS COLLECTION OF THE CURRENT ROW.
            var objCells = myTab.rows.item(i).cells.item(0);
                info.innerText = info.innerText + objCells.innerText;
                

            // READ CELL VALUE OF THE CURENT ROW.
            if (i < myTab.rows.length -1){
            info.innerText = info.innerText + ',';     // ADD A Comma
            } else{
            info.innerText = info.innerText;

            }
            info.innerText = info.innerText.split(" ").join(""); 
        }
        document.getElementById('x-values').value = info.innerText; //Write the column content into Data Table



        //y-value
        document.getElementById('info').innerText = "";
        var myTab = document.getElementById('empTable');

        // LOOP THROUGH EACH ROW OF THE TABLE AFTER HEADER.
        for (i = 1; i < myTab.rows.length; i++) {

            // GET THE CELLS COLLECTION OF THE CURRENT ROW.
            var objCells = myTab.rows.item(i).cells.item(1);
                info.innerText = info.innerText + objCells.innerText;
                

            // READ CELL VALUE OF THE CURENT ROW.
            if (i < myTab.rows.length -1){
            info.innerText = info.innerText + ',';     // ADD A Comma
            } else{
            info.innerText = info.innerText;

            }
            info.innerText = info.innerText.split(" ").join(""); 
        }
        document.getElementById('y-values').value = info.innerText; //Write the column content into Data Table
    
    
    
        //Bubblesize
        document.getElementById('info').innerText = "";
        var myTab = document.getElementById('empTable');

        // LOOP THROUGH EACH ROW OF THE TABLE AFTER HEADER.
        for (i = 1; i < myTab.rows.length; i++) {

            // GET THE CELLS COLLECTION OF THE CURRENT ROW.
            var objCells = myTab.rows.item(i).cells.item(2);
                info.innerText = info.innerText + objCells.innerText;
                

            // READ CELL VALUE OF THE CURENT ROW.
            if (i < myTab.rows.length -1){
            info.innerText = info.innerText + ',';     // ADD A Comma
            } else{
            info.innerText = info.innerText;

            }
            info.innerText = info.innerText.split(" ").join(""); 
        }
        document.getElementById('Bubble-size').value = info.innerText; //Write the column content into Data Table
       

    }    
    
//showTableData()    

//ADD AND DELETE ROWS!!

function AddRowFunction() {
  var myTab = document.getElementById('empTable');
  var row = myTab.insertRow(myTab.rows.length);
  var cell1 = row.insertCell(0);
  var cell2 = row.insertCell(1);
  var cell3 = row.insertCell(2);
  var cell4 = row.insertCell(3);
  cell1.innerHTML = '<div contenteditable></div>';
  cell2.innerHTML = '<div contenteditable></div>';
  cell3.innerHTML = '<div contenteditable></div>';
  cell4.innerHTML = '<button type="button" class="ibtnDel btn btn-md btn-danger" onclick="myDeleteFunction()">Delete</button>';
}


function myDeleteFunction() {
  var myTab = document.getElementById('empTable');
  document.getElementById('empTable').deleteRow(myTab.rows.length  - 1);
}


function fillmyTable(){
var myTab = document.getElementById('empTable');
//var row = myTab.insertRow(0);
var myX = '{{ mypkX }}';
//alert(myX);
var myXs = myX.split(',');
var myY = '{{ mypkY }}';
var myYs = myY.split(',');
var myRadius = '{{ mypkRadius }}';
var myRadiuss = myRadius.split(',');

for (var i=0; i< myXs.length; i++) {
    if (i<3){
    var myrow = myTab.rows[i+1];
    
    var cell1 = myrow.cells.item(0);
    var cell2 = myrow.cells.item(1);
    var cell3 = myrow.cells.item(2);
    var cell4 = myrow.cells.item(3);}
    
    else{
    var myrow = myTab.insertRow(i+1);
    var cell1 = myrow.insertCell(0);
    var cell2 = myrow.insertCell(1);
    var cell3 = myrow.insertCell(2);
    var cell4 = myrow.insertCell(3);}
    
    cell1.innerHTML = '<div contenteditable>'+ myXs[i]+'</div>';
    cell2.innerHTML = '<div contenteditable>'+ myYs[i]+'</div>';
    cell3.innerHTML = '<div contenteditable>'+ myRadiuss[i]+'</div>';    
    cell4.innerHTML = '<button type="button" class="ibtnDel btn btn-md btn-danger" onclick="myDeleteFunction()">Delete</button>';    
    
}
}
   

function SubmitAll(){
showTableData()
document.getElementById("form1").submit();
}


<!--document.getElementById("greatSubmit").addEventListener("click", fillmyTable);-->


function SubmitSavePlot(){
alert('I submitted save plot button');
document.getElementById("form0").submit();
}


    
</script>


{% endblock %}

<!-- 
    <div class="col-md-8">
        <h2>Title</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.graph_title }}
            <br>
        <form method="post">
            {% csrf_token %}
            {{ form.myX }}
            <br>
        <form method="post">
            {% csrf_token %}
            {{ form.myY }}
            <br>  
        <form method="post">
            {% csrf_token %}
            {{ form.myRadius }}
            <br>   
            <button type="submit">Submit</button>
        </form>
    </div>
 -->    
    


<!-- 
 <div class="container">
    <div class="col-md-8">
        <h2>Data</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.myX }}
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
 </div>
 -->
 
 
<!-- 
 <div class="container">
    <div class="col-md-8">
        <h2>Data</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.myX }}
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
 </div>

-->

<!--
    
<form method="post" action="">{% csrf_token %}
    Hello, World! Enter and ArrayField here {{ form }}
    <input type="submit" value="equals" />
</form>  
 --> 
 
